@{
    ViewBag.Title = "Inicio";
}

<!-- Main Container -->
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-gray-lighter">
        <div class="container" ng-controller="AccountsListController">

            <div class="alert alert-info">
                <p>Ordenado por: {{ sortType }}</p>
                <p>Orden Ascendente: {{ sortReverse }}</p>
                <p hidden="hidden">Search Query: {{ filtro }}</p>
            </div>

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Buscar.." ng-model="filtro">
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'Surname'; sortReverse = !sortReverse">
                                Surname
                                <span ng-show="sortType == 'Surname' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Surname' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'Email'; sortReverse = !sortReverse">
                                Email
                                <span ng-show="sortType == 'Email' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Email' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="usuario in usuarios | orderBy:sortType:sortReverse | filter:filtro">
                        <td>{{usuario.Name}}</td>
                        <td>{{usuario.Surname}}</td>
                        <td>{{usuario.Email}}</td>
                        <td><button class="btn btn-block btn-primary" data-ng-click="addActividad($event)" id="{{usuario.Email}}" style="background-color:#009881; border-color:#009881"><i class="fa fa-plus pull-right"></i></button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</main>