
@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-gray-lighter">
    <section class="content content-boxed">
        <div class="container" ng-controller="RegisterController">
            <div class="article article-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="article-content">

                            <h1><strong>D</strong>atos</h1>
                            <h3>
                                <ul>
                                    <li>Apellido</li>
                                    <li>Nombre</li>
                                    <li>CUIT</li>
                                    <li>Actividad</li>
                                    <li>Telefono</li>
                                    <li>Mail</li>
                                </ul>
                            </h3>
                            </br>
                            <h1><strong>V</strong>encimientos</h1>
                            <h3>
                                <ul>
                                    <li>Vencimiento:</li>
                                    <li>Vencimiento:</li>
                                    <li>Vencimiento:</li>
                                    <li>Vencimiento:</li>
                                </ul>
                            </h3>

                            <h1><strong>S</strong>aldos</h1>
                            <h3>
                                <ul>
                                    <li>Al dia de la fecha usted debe abonar: $XXXX</li>

                                </ul>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-primary-dark">
        <section class="content content-full content-boxed">
            <div class="push-20-t push-20 text-center">
                <h3 class="h4 text-white-op push-20 animated fadeIn" data-toggle="appear">Tenes duda sobre tu perfil? Consultanos!</h3>
                <a class="btn btn-info visibility-hidden" data-js-appear="{class:'animated bounceIn'}" href="/Account/Register"><i class="si si-cursor text-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;Consultar!</a>
            </div>
        </section>
    </div>
</div>

