
@{
    ViewBag.Title = "NuevaObligacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white" ng-controller="NuevaObligacionController">
    <h1 style="text-align:center">Nueva Obligación</h1>
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push push-50-t push-30">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="nuevaObligacionForm" ng-submit="register(nuevaObligacionForm)" ng-validate="validationOptions">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="nombre" name="nombre" ng-model="obligacionAg.Nombre">
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="ano" name="ano" ng-model="obligacionAg.Ano">
                                <label for="apellido">Año</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-block btn-primary" ng-disabled="obligacionAgId != ''" type="submit" style="background-color:#009881; border-color:#009881"><i class="fa fa-floppy-o pull-right"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" ng-show="obligacionAgId != ''" name="addObligacionForm" ng-validate="validateObligacion" ng-submit="registerObligacion(addObligacionForm)">
                    <div class="form-group">
                        <!-- Modal -->
                        <div class="modal fade" style="overflow-y:scroll" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 style="font-family:'Source Serif Pro';color:#808080" class="modal-title" id="exampleModalLabel">Registros Obligación</h5>

                                        <div style="background-color:#ffffff;color:#009881">
                                            <br />

                                        </div>

                                        <div class="form-group">

                                            <div class="col-xs-12">
                                                <div class="form-material form-material-primary floating">
                                                    <input class="form-control" type="text" id="nombre" name="nombre" ng-model="obligacion.Nombre">
                                                    <label for="nombre">Nombre</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button ng-disabled="obligacionId != ''" class="btn btn-block btn-primary" type="submit" style="background-color:#009881; border-color:#009881"><i class="fa fa-floppy-o pull-right"></i>Guardar</button>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-show="obligacionId != ''">
                                            <div ng-repeat="config in configs | orderBy:sortType:sortReverse | filter:filtro">
                                                <input class="form-control" type="text" id="configDia" name="configDia" ng-model="Dia" value="{{config.Dia}}">
                                                <label for="configDia">Cuit Terminado en {{condig.TerminacionCuit}}</label>
                                                <button class="btn fa fa-floppy-o" type="button" ng-click="updateConfig(config.Id, Dia)"></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        @*------------------Tabla de Registro de Obligaciones------------------*@
                        <div class="col-xs-12 ">
                            <div class="block-content">
                                <table class="table">
                                    <thead width="100%" style="text-align:justify">
                                        <tr>
                                            <th class="col-xs-11" style="font-family:'Source Serif Pro'" align="justify">
                                                Registros Obligación
                                            </th>
                                            <th class="col-xs-1" style="font-family:'Source Serif Pro'" align="justify">
                                                <button class="btn" data-toggle="modal" data-target="#exampleModal" type="button" style="background-color:#009881; border-color:#009881;color:#fff">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:12px">
                                        <tr ng-repeat="obligacion in obligaciones | orderBy:sortType:sortReverse | filter:filtro">
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" hidden="hidden">{{obligacion.Id}}</td>
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px">{{obligacion.Nombre}}</td>
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px"><button class="w3-button w3-circle" @*data-ng-click="removeActividad($event)" id="{{actividadDeLaPersona.Id}}"*@ style="background-color:#ff0000; border-color:#ff0000; color:#fff"><i class="fa fa-times"></i></button></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>
