@model EstudioContable.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar Persona Juridica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white" ng-controller="RegisterPersonaJuridicaController">
    <h1 style="text-align:center">Registro de Persona Juridica</h1>
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push push-50-t push-30">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="registerForm" ng-submit="register(registerForm)" ng-validate="validationOptions">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="Denomicacion" name="Denomicacion" ng-model="personaJuridica.Denomicacion">
                                <label for="name">Denomicación</label>
                            </div>
                        </div>


                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="cuit" name="cuit" ng-model="personaJuridica.cuit">
                                <label for="cuit">Cuit</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Tipo de Persona Juridica</em></label>
                                <select class="form-control" name="TipoDePersonaJuridica" ng-model="personaJuridica.TipoDePersonaJuridica">
                                    <option value="SociedaddeResponsabilidadLimitada">Sociedad de responsabilidad Limitada</option>
                                    <option value="SociedadAnonima">Sociedad Anónima</option>
                                    <option value="SociedadAccionesSimplificada">Sociedad por acciones simplificada</option>
                                    <option value="SociedadAnonimaUnipersonal">Sociedad anónima unipersonal</option>
                                    <option value="SociedadSimple">Sociedad simple o residual (sección IV)</option>
                                    <option value="SociedadComanditaAcciones">Sociedad en comandita por acciones</option>
                                    <option value="SociedadComanditaSimple">Sociedad en comandita simple</option>
                                    <option value="SociedadColectiva">Sociedad colectiva</option>
                                    <option value="SociedadCapital">Sociedad de capital e industria</option>
                                    <option value="Fideicomiso">Fideicomiso</option>
                                    <option value="AsociacionCivil">Asociación civil</option>
                                    <option value="Fundacion">Fundación</option>
                                    <option value="Condominio">Condominio</option>
                                    <option value="ConsorcioPropietarios">Consorcio de propietarios</option>
                                    <option value="ConsorcioCooperacion">Consorcio de cooperación</option>

                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="DomicilioLegal" name="DomicilioLegal" ng-model="personaJuridica.DomicilioLegal">
                                <label for="DomicilioLegal">Domiciolio Legal</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="Localidad" name="Localidad" ng-model="personaJuridica.Localidad">
                                <label for="Localidad">Localidad</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="Provincia" name="Provincia" ng-model="personaJuridica.Provincia">
                                <label for="Provincia">Provincia</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="AgenciaAfip" name="AgenciaAfip" ng-model="personaJuridica.AgenciaAfip">
                                <label for="AgenciaAfip">Agencia Afip</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="Celular" name="Celular" ng-model="personaJuridica.Celular">
                                <label for="Celular">Celular</label>
                            </div>
                        </div>


                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="TelefonoLaboral" name="TelefonoLaboral" ng-model="personaJuridica.TelefonoLaboral">
                                <label for="TelefonoLaboral">Telefono Laboral</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="email" id="EmailLaboral" name="EmailLaboral" ng-model="personaJuridica.EmailLaboral">
                                <label for="EmailLaboral">Email Laboral</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="email" id="EmailPersonal" name="EmailPersonal" ng-model="personaJuridica.EmailPersonal">
                                <label for="EmailPersonal">Email Personal</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="DomicilioComercial" name="DomicilioComercial" ng-model="personaJuridica.DomicioComercial">
                                <label for="DomicioComercial">Domicio Comercial</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="LocalidadComercial" name="LocalidadComercial" ng-model="personaJuridica.LocalidadComercial">
                                <label for="LocalidadComercial">Localidad</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="ProvinciaComercial" name="ProvinciaComercial" ng-model="personaJuridica.ProvinciaComercial">
                                <label for="ProvinciaComercial">Provincia</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="NumeroIngresosBrutos" name="NumeroDeIngresos" ng-model="personaJuridica.NumeroIngresosBrutos">
                                <label for="NumeroIngresosBrutos">Numero de Ingresos Brutos</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <label style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Fecha de Cierre de Ejericio</em></label>
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="date" id="FechaCierre" name="FechaCierre" ng-model="personaJuridica.FechaCierre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Actividades</em></label>
                                <select class="form-control" name="Actividades" ng-model="personaJuridica.Actividades">
                                    <option value="Agrarios">Agrarios (Ley 26.727) - Resolución CNTA 84/2015</option>
                                    <option value="Comercio">Comercio - CCT 130/75</option>
                                    <option value="Farmacia">Farmacia (FATFA) - CCT 659/2013</option>
                                    <option value="Construccion">Construcción (UOCRA) - CCT 76/1975</option>
                                    <option value="Metalurgicos">Metalúrgicos (SMATA-ACARA) - CCT 740/2016</option>
                                    <option value="EncargadosDeEdificios">Encargados de Edificios y Propiedad Horizontal - CCT 589/2010</option>
                                    <option value="SanidadMutualidades">Sanidad (FATSA-Mutualidades) - CCT 107/1975</option>
                                    <option value="SanidadInstitutos">Sanidad (FATSA-Institutos médicos sin internación) - CCT 108/1975</option>
                                    <option value="Imprentas">Imprentas, diarios y afines (FATIDA) - CCT 409/2005</option>
                                    <option value="TransporteCortaMedia">Transporte (UTA-Corta y media distancia) - CCT 460/1973</option>
                                    <option value="TransporteLarga">Transporte (UTA-Larga distancia) - CCT 610/2010</option>
                                    <option value="EstacionesServicios">Estaciones de servicios (SOESGYPELP) - CCT 371/2003</option>
                                    <option value="PeonesDeTaxi">Sindicato peones de taxi La Pampa</option>
                                    <option value="Cerealearos">Cerealeros (URGARA) - CCT 574/2010</option>
                                    <option value="EntidadesDeportivas">Entidades deportivas y civiles (UTEDYC) - CCT 736/2016</option>
                                    <option value="Comercio">Comercio (Turismo) - CCT 547/2008</option>
                                    <option value="PersonalDomestico">Personal doméstico (Ley 26.844)</option>
                                    <option value="TransporteDeCarga">Transporte de carga - CCT 40/1989</option>
                                    <option value="EnseñanzaMedia">Enseñanza media (Institutos privados)</option>
                                    <option value="FueraDeConvenio">Fuera de Convenio</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Es Empleador?</em></label>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label for="Si">
                                    <input type="radio" id="example-radio1" name="Si" value="Si">Si
                                </label>
                            </div>
                            <div class="radio">
                                <label for="No">
                                    <input type="radio" id="example-radio2" name="No" value="No">No
                                </label>
                            </div>
                        </div>


                        <div class="col-xs-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Convenio Colectivo de Trabajo</em></label>
                                <select class="form-control" id="CCT" name="CCT" ng-model="personaJuridica.CCT">
                                    <option value="Agrarios">Agrarios (Ley 26.727) - Resolución CNTA 84/2015</option>
                                    <option value="Comercio">Comercio - CCT 130/75</option>
                                    <option value="Farmacia">Farmacia (FATFA) - CCT 659/2013</option>
                                    <option value="Construccion">Construcción (UOCRA) - CCT 76/1975</option>
                                    <option value="Metalurgicos">Metalúrgicos (SMATA-ACARA) - CCT 740/2016</option>
                                    <option value="EncargadosDeEdificios">Encargados de Edificios y Propiedad Horizontal - CCT 589/2010</option>
                                    <option value="SanidadMutualidades">Sanidad (FATSA-Mutualidades) - CCT 107/1975</option>
                                    <option value="SanidadInstitutos">Sanidad (FATSA-Institutos médicos sin internación) - CCT 108/1975</option>
                                    <option value="Imprentas">Imprentas, diarios y afines (FATIDA) - CCT 409/2005</option>
                                    <option value="TransporteCortaMedia">Transporte (UTA-Corta y media distancia) - CCT 460/1973</option>
                                    <option value="TransporteLarga">Transporte (UTA-Larga distancia) - CCT 610/2010</option>
                                    <option value="EstacionesServicios">Estaciones de servicios (SOESGYPELP) - CCT 371/2003</option>
                                    <option value="PeonesDeTaxi">Sindicato peones de taxi La Pampa</option>
                                    <option value="Cerealearos">Cerealeros (URGARA) - CCT 574/2010</option>
                                    <option value="EntidadesDeportivas">Entidades deportivas y civiles (UTEDYC) - CCT 736/2016</option>
                                    <option value="Comercio">Comercio (Turismo) - CCT 547/2008</option>
                                    <option value="PersonalDomestico">Personal doméstico (Ley 26.844)</option>
                                    <option value="TransporteDeCarga">Transporte de carga - CCT 40/1989</option>
                                    <option value="EnseñanzaMedia">Enseñanza media (Institutos privados)</option>
                                    <option value="FueraDeConvenio">Fuera de Convenio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Frecuencia de Atencion</em></label>
                                <select class="form-control" id="Frecuencia" name="Frecuencia" ng-model="personaJuridica.Frecuencia">
                                    <option value="Mensual">Mensual</option>
                                    <option value="Anual">Anual</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Responsable en el Estudio</em></label>
                                <select class="form-control" id="ResponsableEstudio" name="ResponsableEstudio" ng-model="personaJuridica.ResponsableEstudio">
                                    <option value="Responsable1">Responsable 1</option>
                                    <option value="Responsable2">Responsable 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="ResNum" name="ResNum" ng-model="personaJuridica.ResNum">
                                <label for="ResNum">Resolucion Numero</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="TomoN" name="TomoN" ng-model="personaJuridica.TomoN">
                                <label for="TomoN">Tomo Numero</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label>Fecha de Resolucion</label>
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="date" id="FechaRes" name="FechaRes" ng-model="personaJuridica.FechaRes">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="FolioD" name="FolioD" ng-model="personaJuridica.FolioD">
                                <label for="FolioD">Folio Desde</label>
                            </div>
                        </div>


                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="FolioH" name="FolioH" ng-model="FolioH">
                                <label for="FolioH">Folio Hasta</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="MatriculaNum" name="MatriculaNum" ng-model="MatriculaNum">
                                <label for="MatriculaNum">Matricula Numero</label>
                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="col-xs-12" for="example-textarea-input" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Observaciones</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" id="example-textarea-input" name="example-textarea-input" rows="6" placeholder="Observaciones"></textarea>
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="col-xs-12 text-center">
                                <label class="css-input switch switch-sm switch-success">
                                    <input type="checkbox" id="frontend-signup-terms" name="frontend-signup-terms"><span></span> I agree with <a data-toggle="modal" data-target="#modal-signup-terms" href="#">terms &amp; conditions</a>
                                </label>
                            </div>
                        </div>*@
                    <div class="alert alert-danger alert-dismissable" ng-show="showErrorMessage">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h3 class="font-w300 push-15">Error</h3>
                        <p>Ha ocurrido un error al intentar registar el usuario. Por favor intente nuevamente o pongase en contacto con el administrador del sistema.</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-block btn-primary" type="submit" style="background-color:#009881; border-color:#009881"><i class="fa fa-plus pull-right"></i>Guardar</button>
                        </div>
                    </div>





                </form>





            </div>
        </div>
        <!-- END Section Content -->
    </section>

</div>

<div ng-controller="RegisterDirectorioController">
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push push-50-t push-30">
            <div class="col-md-6 col-md-offset-3">

                <form class="form-horizontal" name="registerDirectorio">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="block-header">
                                <h3 class="block-title">Director</h3>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DirectorioModal" style="background-color:#009881; border-color:#009881">
                                <i class="fa fa-plus pull-right"></i>Director
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="DirectorioModal" tabindex="-1" role="dialog" aria-labelledby="DirectorModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Directorio</h5>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Nombre" name="Nombre" ng-model="director.Nombre">
                                                        <label for="name">Nombre</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Apellido" name="Apellido" ng-model="director.Apellido">
                                                        <label for="cuit">Apellido</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="DNI" name="DNI" ng-model="director.DNI">
                                                        <label for="DNI">DNI</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="CUIT" name="CUIT" ng-model="director.CUIT">
                                                        <label for="CUIT">CUIT</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-material form-material-primary ">
                                                        <label for="Nacionalidad">Nacionalidad</label>
                                                        <select class="form-control" id="Nacionalidad" name="Nacionalidad" ng-model="director.Nacionalidad">
                                                            <option value="Argentina">Argentina</option>
                                                            <option value="Brasileña">Brasileña</option>
                                                            <option value="Uruguaya">Uruguaya</option>
                                                            <option value="Chilena">Chilena</option>
                                                            <option value="Paraguaya">Paraguaya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Fecha de Nacimiento</label>
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="date" id="FechaNacimiento" name="FechaNacimiento" ng-model="director.FechaNacimiento">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-material form-material-primary ">
                                                        <label for="EstadoCivil">Estado Civil</label>
                                                        <select class="form-control" id="EstadoCivil" name="EstadoCivil" ng-model="director.EstadoCivil">
                                                            <option value="Soltero">Soltero</option>
                                                            <option value="Casado">Casado</option>
                                                            <option value="Divorciado">Divorciado</option>
                                                            <option value="Viudo">Viudo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Profesion" name="Profesion" ng-model="director.Profesion">
                                                        <label for="Profesion">Profesion</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Celular" name="Celular" ng-model="director.Celular">
                                                        <label for="Celular"> Celular</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="TelefonoLaboral" name="TelefonoLaboral" ng-model="director.TelefonoLaboral">
                                                        <label for="Celular"> Celular</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="email" id="EmailLaboral" name="EmailLaboral" ng-model="director.EmailLaboral">
                                                        <label for="EmailLaboral">Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Domicilio" name="Domicilio" ng-model="director.Domicilio">
                                                        <label for="Domicilio">Domicilio</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="email" id="Localidad" name="Localidad" ng-model="director.Localidad">
                                                        <label for="Localidad">Localidad</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Provincia" name="Provincia" ng-model="director.Provincia">
                                                        <label for="Provincia">Provincia</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-material form-material-primary ">
                                                        <label for="Cargo">Cargo</label>
                                                        <select class="form-control" id="Cargo" name="Cargo" ng-model="director.Cargo">
                                                            <option value="Presidente">Presidente</option>
                                                            <option value="Director Suplente">Director Suplente</option>
                                                            <option value="Gerente">Gerente</option>
                                                            <option value="Fiduciario"> Fiduciario</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="date" id="FechaDesignacion" name="FechaDesignacion" ng-model="director.FechaDesignacion">
                                                        <label for="FechaDesignacion">Fecha de Designacion</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <label>Vencimiento del Mandato</label>
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="date" id="VencimientoMandato" name="VencimientoMandato" ng-model="director.VencimientoMandato">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-primary" style="background-color:#009881; border-color:#009881">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 ">
                            <div class="block-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Lista Directores</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:12px">
                                            <td>Director 1</td>
                                        </tr>
                                        <tr style="font-size:12px">

                                            <td>Director 2</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>

<div ng-controller="RegisterSocioController">
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push push-50-t push-30">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="registerSocio">
                    @*-------------------------------Socio-----------------------------*@

                    <div class="form-group">
                        <div class="col-xs-6 ">
                            <div class="block-header">
                                <h3 class="block-title">Socio</h3>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SocioModal" style="background-color:#009881; border-color:#009881">
                                <i class="fa fa-plus pull-right"></i>Socio
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="SocioModal" tabindex="-1" role="dialog" aria-labelledby="SocioModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Socio</h5>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Nombre" name="Nombre" ng-model="Socio.Nombre">
                                                        <label for="name">Nombre</label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Apellido" name="Apellido" ng-model="Socio.Apellido">
                                                        <label for="cuit">Apellido</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="DNI" name="DNI" ng-model="Socio.DNI">
                                                        <label for="DNI">DNI</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="CUIT" name="CUIT" ng-model="Socio.CUIT">
                                                        <label for="CUIT">CUIT</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-material form-material-primary ">
                                                        <label for="surname">Nacionalidad</label>
                                                        <select class="form-control" id="Nacionalidad" name="Nacionalidad" ng-model="Socio.Nacionalidad">
                                                            <option value="Argentina">Argentina</option>
                                                            <option value="Brasileña">Brasileña</option>
                                                            <option value="Uruguaya">Uruguaya</option>
                                                            <option value="Chilena">Chilena</option>
                                                            <option value="Paraguaya">Paraguaya</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label>Fecha de Nacimiento</label>
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="date" id="FechaNacimiento" name="FechaNacimiento" ng-model="Socio.FechaNacimiento">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-material form-material-primary ">
                                                        <label for="surname">Estado Civil</label>
                                                        <select class="form-control" id="EstadoCivil" name="EstadoCivil" ng-model="Socio.EstadoCivil">
                                                            <option value="Soltero">Soltero</option>
                                                            <option value="Casado">Casado</option>
                                                            <option value="Divorciado">Divorciado</option>
                                                            <option value="Viudo">Viudo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Profesion" name="Profesion" ng-model="Socio.Profesion">
                                                        <label for="Profesion">Profesion</label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Celular" name="Celular" ng-model="Socio.Celular">
                                                        <label for="Celular">Celular</label>
                                                    </div>
                                                </div>


                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="TelefonoLaboral" name="TelefonoLaboral" ng-model="Socio.TelefonoLaboral">
                                                        <label for="TelefonoLaboral">Telefono Laboral</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="email" id="Email" name="Email" ng-model="Socio.Email">
                                                        <label for="Email">Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Domicilio" name="Domicilio"
                                                               ng-model="Socio.Domicilio">
                                                        <label for="Domicilio">Domicilio</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Localidad" name="Localidad" ng-model="Socio.Localidad">
                                                        <label for="Localidad">Localidad</label>
                                                    </div>
                                                </div>

                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="Provincia" name="Provincia" ng-model="Socio.Provincia">
                                                        <label for="Provincia">Provincia</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="email" id="CuotasAcciones" name="CuotasAcciones" ng-model="Socio.CuotasAcciones">
                                                        <label for="CuotasAcciones">Cantidad de Cuotas/Acciones</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-material form-material-primary floating">
                                                        <input class="form-control" type="text" id="PorcentajeParticipacion" name="PorcentajeParticipacion"
                                                               ng-model="Socio.PorcentajeParticipacion">
                                                        <label for="PorcentajeParticipacion">Porcentaje de Participacion</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>


                                            @*<div class="modal-body">
                                                    ...
                                                </div>*@
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary" style="background-color:#009881; border-color:#009881">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 ">
                            <div class="block-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Lista Socios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:12px">
                                            <td>Socio 1</td>
                                        </tr>
                                        <tr style="font-size:12px">

                                            <td>Socio 2</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>


@*--------------------------------Directorio-------------------------*@
@*<div ng-controller="RegisterDirectorioController">
        <section class="content content-boxed">
            <!-- Section Content -->
            <div class="row items-push push-50-t push-30">
                <div class="col-md-6 col-md-offset-3">
                    <form class="form-horizontal" name="registerDirectorio">
                        <div class="form-group">
                            <div class="col-xs-6 ">
                                <div class="block-header">
                                    <h3 class="block-title">Director</h3>
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DirectocioModal" style="background-color:#009881; border-color:#009881">
                                    <i class="fa fa-plus pull-right"></i>
                                    Director
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="DirectocioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Director</h5>
                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="Nombre" name="Nombre" ng-model="Director.Nombre">
                                                            <label for="Nombre">Nombre</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="Apellido" name="Apellido" ng-model="Director.Apellido">
                                                            <label for="Apellido">Apellido</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="DNI" name="DNI" ng-model="Director.DNI">
                                                            <label for="DNI">DNI</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="CUIT" name="CUIT" ng-model="Director.CUIT">
                                                            <label for="CUIT">CUIT</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-material form-material-primary ">
                                                            <label for="Nacionalidad">Nacionalidad</label>
                                                            <select class="form-control" id="Nacionalidad" name="Nacionalidad" ng-model="Director.Nacionalidad">
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Brasileña">Brasileña</option>
                                                                <option value="Uruguaya">Uruguaya</option>
                                                                <option value="Chilena">Chilena</option>
                                                                <option value="Paraguaya">Paraguaya</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Fecha de Nacimiento</label>
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="date" id="FechaNacimiento" name="FechaNacimiento" ng-model="Director.FechaNacimiento">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-material form-material-primary ">
                                                            <label for="EstadoCivil">Estado Civil</label>
                                                            <select class="form-control" id="EstadoCivil" name="EstadoCivil" ng-model="Director.EstadoCivil">
                                                                <option value="Soltero">Soltero</option>
                                                                <option value="Casado">Casado</option>
                                                                <option value="Divorciado">Divorciado</option>
                                                                <option value="Viudo">Viudo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="Profesion" name="Profesion" ng-model="Director.Profesion">
                                                            <label for="Profesion">Profesion</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="Celular" name="Celular" ng-model="Director.Celular">
                                                            <label for="Celular"> Celular</label>
                                                        </div>
                                                    </div>


                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="TelefonoLaboral" name="TelefonoLaboral" ng-controller="Director.TelefonoLaboral">
                                                            <label for="TelefonoLaboral">Telefono Laboral</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="email" id="EmailLaboral" name="EmailLaboral" ng-controller="Director.EmailLaboral">
                                                            <label for="EmailLaboral">Email</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="Domicilio" name="Domicilio" ng-controller="Director.Domicilio">
                                                            <label for="Domicilio">Domicilio</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="email" id="Localidad" name="Localidad" ng-controller="Director.Localidad">
                                                            <label for="Localidad">Localidad</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="text" id="Provincia" name="Provincia" ng-controller="Director.Provincia">
                                                            <label for="Provincia">Provincia</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <div class="form-material form-material-primary ">
                                                            <label for="Cargo">Cargo</label>
                                                            <select class="form-control" id="Cargo" name="Cargo" ng-model="Director.Cargo">
                                                                <option value="Presidente">Presidente</option>
                                                                <option value="Director Suplente">Director Suplente</option>
                                                                <option value="Gerente">Gerente</option>
                                                                <option value="Fiduciario"> Fiduciario</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="date" id="FechaDesignacion" name="FechaDesignacion" ng-controller="Director.FechaDesignacion">
                                                            <label for="FechaDesignacion">Fecha de Designacion</label>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="form-group">
                                                    <div class="col-xs-6">
                                                        <label>Vencimiento del Mandato</label>
                                                        <div class="form-material form-material-primary floating">
                                                            <input class="form-control" type="date" id="VencimientoMandato" name="VencimientoMandato" ng-controller="Director.VencimientoMandato">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary" style="background-color:#009881; border-color:#009881">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6 ">
                                <div class="block-content">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Lista Directores</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="font-size:12px">
                                                <td>Director 1</td>
                                            </tr>
                                            <tr style="font-size:12px">

                                                <td>Director 2</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Section Content -->
        </section>
    </div>*@
