@model EstudioContable.Models.ApplicationDbContext
@{
    ViewBag.Title = "RegisterPersonaHumana";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white" ng-controller="RegisterPersonaHumanaController">
    <h1 style="text-align:center">Registro de Persona Humana</h1>
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push push-50-t push-30">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="registerPHForm" ng-submit="register(registerPHForm)" ng-validate="validationOptions">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="nombre" name="nombre" ng-model="personaHumana.Nombre">
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="apellido" name="apellido" ng-model="personaHumana.Apellido">
                                <label for="apellido">Apellido</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="dni" name="dni" ng-model="personaHumana.DNI" />
                                <label for="dni">DNI</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="cuit" name="cuit" ng-model="personaHumana.CUIT" />
                                <label for="cuit">CUIT</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="nacionalidad" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Nacionalidad</em></label>
                                <select class="form-control" id="nacionalidad" name="nacionalidad" ng-model="personaHumana.Nacionalidad">
                                    <option value="Argentina">Argentina</option>
                                    <option value="Brasileña">Brasileña</option>
                                    <option value="Uruguaya">Uruguaya</option>
                                    <option value="Chilena">Chilena</option>
                                    <option value="Paraguaya">Paraguaya</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label>Fecha de Nacimiento</label>
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="date" id="fechaNacimiento" name="fechaNacimiento" ng-model="personaHumana.FechaNacimiento" >
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Estado Civil</em></label>
                                <select class="form-control" id="estadoCivil" name="estadoCivil" ng-model="personaHumana.EstadoCivil">
                                    <option value="Soltero">Soltero</option>
                                    <option value="Casado">Casado</option>
                                    <option value="Divorciado">Divorciado</option>
                                    <option value="Viudo">Viudo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="profesion" name="profesion" ng-model="personaHumana.Profesion">
                                <label for="profesion">Profesion</label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="tel" id="celular" name="celular" ng-model="personaHumana.Celular" />
                                <label for="celular">Celular</label>
                            </div>
                        </div>


                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="tel" id="telefonoLaboral" name="telefonoLaboral" ng-model="personaHumana.TelefonoLaboral" />
                                <label for="telefonoLaboral">Telefono Laboral</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="email" id="emailLaboral" name="emailLaboral" ng-model="personaHumana.EmailLaboral">
                                <label for="emailLaboral">Email Laboral</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="email" id="emailPersonal" name="emailPersonal" ng-model="personaHumana.EmailPersonal">
                                <label for="emailPersonal">Email Personal</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="domicilio" name="domicilio" ng-model="personaHumana.Domicilio">
                                <label for="domicilio">Domicio</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400"><em>Agencia Afip</em></label>
                                <select class="form-control" name="AgenciaAfip" ng-model="personaHumana.AgenciaAfip">
                                    <option value="SantaRosa">Santa Rosa</option>
                                    <option value="GralPico">General Pico</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="localidad" name="localidad" ng-model="personaHumana.Localidad">
                                <label for="localidad">Localidad</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="provincia" name="provincia" ng-model="personaHumana.Provincia">
                                <label for="provincia">Provincia</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="domicilioComercial" name="domicilioComercial" ng-model="personaHumana.DomicilioComercial">
                                <label for="domicilioComercial">Domicio Comercial</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="localidadComercial" name="localidadComercial" ng-model="personaHumana.LocalidadComercial">
                                <label for="localidadComercial">Localidad</label>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="provinciaComercial" name="provinciaComercial" ng-model="personaHumana.ProvinciaComercial">
                                <label for="provinciaComercial">Provincia</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Frecuencia de Atencion</label>
                                <select class="form-control" id="frecAtencion" name="frecAtencion" ng-model="personaHumana.Frecuencia">
                                    <option value="Mensual">Mensual</option>
                                    <option value="Anual">Anual</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Responsable en el Estudio</label>
                                <select class="form-control" id="responsable" name="responsable" ng-model="personaHumana.ResponsableEstudio">
                                    <option value="SociedadAnonima">Responsable 1</option>
                                    <option value="SociedadAnonima">Responsable 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="text" id="nroIngresosBrutos" name="nroIngresosBrutos" ng-model="personaHumana.NroIngresosBrutos">
                                    <label for="nroIngresosBrutos">Numero de Ingresos Brutos</label>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label>Fecha de Cierre de Ejericio</label>
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="date" id="fechaCierreEjercicios" name="fechaCierreEjercicios" ng-model="personaHumana.FechaCierreEjercicios">
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material form-material-primary ">
                                <label for="surname" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Situacion Impositiva</label>
                                <select class="form-control" id="situacionImpositiva" name="situacionImpositiva" ng-model="personaHumana.SituacionImpositiva">
                                    <option value="Monotributista">Monotributista</option>
                                    <option value="RegimenGeneral">Regimen General</option>
                                </select>
                            </div>
                        </div>



                        <label class="col-xs-6" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Es Empleador?</label>
                        <div class="col-xs-6">
                            <div class="radio">
                                <label for="example-radio1">
                                    <input type="radio" id="example-radio1" name="example-radios" value="option1">Si
                                </label>
                            </div>
                            <div class="radio">
                                <label for="example-radio2">
                                    <input type="radio" id="example-radio2" name="example-radios" value="option2">No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12" for="example-textarea-input" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Claves</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" id="Claves" name="Claves" rows="6" placeholder="Claves" ng-model="personaHumana.Claves"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12" for="example-textarea-input" style="font-family:'Source Sans Pro';font-size:15px; font-weight:400">Observaciones</label>
                        <div class="col-xs-12">
                            <textarea class="form-control" id="observaciones" name="observaciones" rows="6" placeholder="Observaciones" ng-model="personaHumana.Observaciones"></textarea>
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="col-xs-12 text-center">
                                <label class="css-input switch switch-sm switch-success">
                                    <input type="checkbox" id="frontend-signup-terms" name="frontend-signup-terms"><span></span> I agree with <a data-toggle="modal" data-target="#modal-signup-terms" href="#">terms &amp; conditions</a>
                                </label>
                            </div>
                        </div>*@
                    <div class="alert alert-danger alert-dismissable" ng-show="showErrorMessage">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h3 class="font-w300 push-15">Error</h3>
                        <p>Ha ocurrido un error al intentar registar el usuario. Por favor intente nuevamente o pongase en contacto con el administrador del sistema.</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button ng-disabled="personaHumanaId != ''" class="btn btn-block btn-primary" type="submit" style="background-color:#009881; border-color:#009881"><i class="fa fa-floppy-o pull-right"></i>Guardar</button>
                            <input ng-show="false" type="text" ng-model="personaHumanaId" />
                        </div>
                    </div>
                </form>
                <br />
                <br />

                @*------------------Form Actividad----------------------*@

                <form class="form-horizontal" name="addActividadToPhForm">
                    <div class="form-group">

                        <div class="col-md-6">
                            <button ng-disabled="personaHumanaId == ''" class="btn btn-block btn-primary" data-toggle="modal" data-target="#exampleModal" style="background-color:#009881; border-color:#009881;color:#fff">
                                <i class="fa fa-plus pull-right"></i>
                                Actividades
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" style="overflow-y:scroll" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 style="font-family:'Source Serif Pro';color:#808080" class="modal-title" id="exampleModalLabel">Actividades</h5>

                                        <div style="background-color:#ffffff;color:#009881">
                                            <br />

                                            @*<p style="font-family:'Source Serif Pro';color:#808080;font-size:14px">Ordenado por: {{ sortType }}</p>
                                                <p style="font-family:'Source Serif Pro';color:#808080;font-size:14px">Orden Ascendente: {{ sortReverse }}</p>
                                                <p style="font-family:'Source Serif Pro';color:#808080;font-size:14px" hidden="hidden">Search Query: {{ filtro }}</p>*@

                                        </div>


                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="input-group" style="padding-left:20px;padding-right:20px">

                                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                                                    <input type="text" class="form-control" placeholder="Buscar.." ng-model="filtro">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <table class="table table-bordered table-striped">

                                                <thead>
                                                    <tr>
                                                        <td hidden="hidden">
                                                            <a style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" href="#" ng-click="sortType = 'Id'; sortReverse = !sortReverse">
                                                                Id
                                                                <span ng-show="sortType == 'Id' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'Id' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" href="#" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                                                Codigo
                                                                <span ng-show="sortType == 'Descripcion' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'Descripcion' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" href="#" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                                                Descripcion
                                                                <span ng-show="sortType == 'Descripcion' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'Descripcion' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="actividad in actividades | orderBy:sortType:sortReverse | filter:filtro">
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" hidden="hidden">{{actividad.Id}}</td>
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px">{{actividad.Codigo}}</td>
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px">{{actividad.Descripcion}}</td>
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px"><button class="btn btn-primary" data-ng-click="addActividad($event)" id="{{actividad.Id}}" style="background-color:#009881; border-color:#009881"><i class="fa fa-plus pull-right"></i></button></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*------------------Tabla Actividades------------------*@
                        <div class="col-xs-6 ">
                            <div class="block-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="font-family:'Source Serif Pro'">Actividades</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:12px">
                                        <tr ng-repeat="actividadDeLaPersona in actividadesDeLaPersona | orderBy:sortType:sortReverse | filter:filtro">
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" hidden="hidden">{{actividadDeLaPersona.Id}}</td>
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px">{{actividadDeLaPersona.Descripcion}}</td>
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px"><button class="w3-button w3-circle" data-ng-click="removeActividad($event)" id="{{actividadDeLaPersona.Id}}" style="background-color:#ff0000; border-color:#ff0000; color:#fff"><i class="fa fa-times"></i></button></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </form>


                @*--------------Form CCT---------------*@
                <form form class="form-horizontal" name="addCCTToPhForm">
                    <div class="form-group">
                        <div class="col-md-6">
                            <button ng-disabled="personaHumanaId == ''" class="btn btn-block btn-primary" type="button" data-toggle="modal" data-target="#CCTModal" data-ng-click="addCCT($event)" style="background-color:#009881; border-color:#009881"><i class="fa fa-plus pull-right"></i>CCT</button>
                        </div>
                        <div class="modal fade" style="overflow-y:scroll" id="CCTModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5 style="font-family:'Source Serif Pro';color:#808080" class="modal-title" id="exampleModalLabel">CCT</h5>
                                        <div style="background-color:#ffffff;color:#009881">

                                            @*<div class="col-md-12">
                                                    <textarea class="form-control" readonly></textarea>
                                                </div>*@


                                        </div>
                                        <br />

                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="input-group" style="padding-left:20px;padding-right:20px">

                                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                                                    <input type="text" class="form-control" placeholder="Buscar.." ng-model="filtro">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <table class="table table-bordered table-striped">

                                                <thead>
                                                    <tr>
                                                        <td hidden="hidden">
                                                            @*<a style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" href="#" ng-click="sortType = 'Id'; sortReverse = !sortReverse">
                                                                    Id
                                                                    <span ng-show="sortType == 'Id' && !sortReverse" class="fa fa-caret-down"></span>
                                                                    <span ng-show="sortType == 'Id' && sortReverse" class="fa fa-caret-up"></span>
                                                                </a>*@
                                                        </td>
                                                        <td>
                                                            <a style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" href="#" ng-click="sortType = 'Descripcion'; sortReverse = !sortReverse">
                                                                Convenio
                                                                <span ng-show="sortType == 'Convenio' && !sortReverse" class="fa fa-caret-down"></span>
                                                                <span ng-show="sortType == 'Convenio' && sortReverse" class="fa fa-caret-up"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="ConvenioColectivoDeTrabajo in conveniosColectivos | orderBy:sortType:sortReverse | filter:filtro">
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" hidden="hidden">{{ConvenioColectivoDeTrabajo.Id}}</td>
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px">{{ConvenioColectivoDeTrabajo.Convenio}}</td>
                                                        <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px"><button class="btn btn-primary" data-ng-click="addCCT($event)" id="{{ConvenioColectivoDeTrabajo.Id}}" style="background-color:#009881; border-color:#009881"><i class="fa fa-plus"></i></button></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="block-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="font-family:'Source Serif Pro'">CCT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:12px">
                                        <tr ng-repeat="cctDeLaPersona in cctsDeLaPersona | orderBy:sortType:sortReverse | filter:filtro">
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px" hidden="hidden">{{cctDeLaPersona.Id}}</td>
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px">{{cctDeLaPersona.Convenio}}</td>
                                            <td style="font-family:'Source Serif Pro';color:#808080;background-color:#ffffff;font-size:14px"><button class="w3-button w3-circle" data-ng-click="removeCCT($event)" id="{{cctDeLaPersona.Id}}" style="background-color:#ff0000; border-color:#ff0000; color:#fff"><i class="fa fa-times"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </form>


                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <br />
                        <button class="btn btn-block btn-primary" type="submit" style="background-color:#009881; border-color:#009881" onclick="location.href = '/Home/Index'">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>




        <!-- END Section Content -->
    </section>

</div>

