@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="content bg-gray-lighter" style="background-color:#f5f5f5">
    <section class="content content-boxed" style="position:center">
        <div class="container" ng-controller="AboutController">
            <div class="content content-boxed" >
                <div class="block block-rounded" >
                    <div class="block-header">
                          <h5-footer class="block-title">Vision</h5-footer>
                    </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <div class="push-30 push-30-t">
                            <p style="font-size:16px">Ser uno de los principales referentes en la Provincia de La Pampa en prestación de servicios profesionales de calidad, vinculados con la gestión integral de pequeñas y medianas organizaciones y con el asesoramiento integral a personas que requieran del mismo.</p>
                        </div>
                    </div>
                </div>
                <div class="block block-rounded">
                    <div class="block-header">
                        <h5-footer class="block-title">Mision</h5-footer>
                    </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <div class="push-30 push-30-t">
                            <p style="font-size:16px">Nuestra misión consiste en brindar un servicio integral y de calidad, vinculado con el asesoramiento profesional necesario para una adecuada gestión tanto de las pequeñas y medianas organizaciones como de las necesidades de las personas que acuden a nosotros, para lo cual contamos con un equipo humano altamente comprometido y con la tecnología correspondiente. El trabajo es realizado en un marco de ética, seriedad y responsabilidad que, junto a nuestra trayectoria y la atención personal de nuestros clientes, nos han permitido crecer en recursos y calidad de servicio, buscando siempre la mejora continua.</p>
                        </div>
                    </div>
                </div>
            </div>
            
       </div>
    </section>
</div>