@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="bg-white" style="background-color:#fff" ng-controller="AboutController">
    <section class="content content-boxed">
        <div class="row items-push push-50-t push-30">
            
            <div class="col-md-3">
                <img align="right" src="~/assets/img/photos/logoV.jpg" />
            </div>
            <div class="col-md-9">
                <h3><strong>V</strong>isión</h3>
                <p style="text-align:justify;font-size:16px;padding-right:50px">
                    Ser uno de los principales referentes en la Provincia de La Pampa en prestación de servicios profesionales de calidad, vinculados con la gestión integral de pequeñas y medianas organizaciones y con el asesoramiento integral a personas que requieran del mismo.
                </p>
                <h3><strong>M</strong>isión</h3>
                <p style="font-size:16px;padding-right:50px;text-align:justify">
                    Nuestra misión consiste en brindar un servicio integral y de calidad, vinculado con el asesoramiento profesional necesario para una adecuada gestión tanto de las pequeñas y medianas organizaciones como de las necesidades de las personas que acuden a nosotros, para lo cual contamos con un equipo humano altamente comprometido y con la tecnología correspondiente. El trabajo es realizado en un marco de ética, seriedad y responsabilidad que, junto a nuestra trayectoria y la atención personal de nuestros clientes, nos han permitido crecer en recursos y calidad de servicio, buscando siempre la mejora continua.
                </p>
            </div>
            <div class="col-md-3">

            </div>
        </div>



    </section>
</div>