@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="bg-white">
    <section class="content content-boxed">
        <div class="container" ng-controller="AboutController">
            <div class="article article-body">
                <div class="row">
                    <h3></h3>
                    <div class="col-md-12">
                        <div class="article-content">
                            <h2>Visión</h2>
                            <p>Ser uno de los principales referentes en la Provincia de La Pampa en prestación de servicios profesionales de calidad, vinculados con la gestión integral de pequeñas y medianas organizaciones y con el asesoramiento integral a personas que requieran del mismo.</p>

                            <h2>Misión</h2>
                            <p>Nuestra misión consiste en brindar un servicio integral y de calidad, vinculado con el asesoramiento profesional necesario para una adecuada gestión tanto de las pequeñas y medianas organizaciones como de las necesidades de las personas que acuden a nosotros, para lo cual contamos con un equipo humano altamente comprometido y con la tecnología correspondiente. El trabajo es realizado en un marco de ética, seriedad y responsabilidad que, junto a nuestra trayectoria y la atención personal de nuestros clientes, nos han permitido crecer en recursos y calidad de servicio, buscando siempre la mejora continua.</p>
                        </div>
                        @*<a class="block block-rounded block-link-hover2" href="{{module.link}}">
                                <div class="block-content block-content-full text-center {{module.colorClass}} ribbon ribbon-bookmark ribbon-crystal">
                                    <div class="item item-2x item-circle bg-crystal-op push-20-t push-20 animated fadeIn" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                                        <i class="fa {{module.iconClass}} text-white-op"></i>
                                    </div>
                                    <div class="text-white-op">
                                        <em>{{module.name}}</em>
                                    </div>
                                </div>
                                <div class="block-content">
                                    <h4 class="mheight-125">{{module.description}}</h4>
                                </div>
                            </a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>