
@{
    ViewBag.Title = "Organizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white" style="background-color:#fff" ng-controller="OrganizacionController">
    <section class="content content-boxed">
        <div class="row items-push push-50-t push-30">
            <div class="col-md-3" >
                <img align="right" src="~/assets/img/photos/logoV.jpg" />
            </div>
            <div class="col-md-9">
                <p style="text-align:left;font-size:16px;padding-right:50px">
                    La organización de nuestro Estudio se caracteriza primordialmente por su flexibilidad, lo que nos permite brindar a nuestros clientes una atención totalmente personal y directa en todo momento y ocuparnos rápidamente de sus necesidades.
                    Paralelamente, el trabajo es distribuido entre los colaboradores para optimizar el potencial de cada uno de ellos y lograr así una importante sinergia de equipo.<br>
                       En Estudio Villa existe el compromiso y la ambición por mejorar día a día. Por ello siempre estamos actualizándonos y capacitándonos en ese sentido, procurando lograr la excelencia.
                    El objetivo perseguido con nuestra forma de trabajar es que nuestros clientes obtengan una experiencia gratificante en cuanto al servicio recibido.
                </p>
            </div>
        </div>

        
            
    </section>
</div>

