@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="dropdown-menu-right" data-uib-dropdown-menu style="border: 0;">
        @*<li class="dropdown-header">
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>*@
        <li style="border:0;">
            <a tabindex="-1" ng-click="logOff()" style="cursor: pointer;">
                <i class="si si-logout pull-right" style="margin: 0;line-height: 32px;"></i>Cerrar sesión
            </a>
        </li>
    </ul>
}
else
{
    <ul class="dropdown-menu-right" data-uib-dropdown-menu style="border: 0;">
        @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}